.card {
    max-width: 18rem;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    height: 220px;
    object-fit: cover;
}

body {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}